In [24]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [18]:
df=pd.read_csv('./whiskies.csv')
print(df)

    RowID      Distillery  Body  Sweetness  Smoky  Medicinal  Tobacco  Honey  \
0       1       Aberfeldy     2          2      2          0        0      2
1       2        Aberlour     3          3      1          0        0      4
2       3          AnCnoc     1          3      2          0        0      2
3       4          Ardbeg     4          1      4          4        0      0
4       5         Ardmore     2          2      2          0        0      1
5       6     ArranIsleOf     2          3      1          1        0      1
6       7    Auchentoshan     0          2      0          0        0      1
7       8       Auchroisk     2          3      1          0        0      2
8       9        Aultmore     2          2      1          0        0      1
9      10        Balblair     2          3      2          1        0      0
10     11       Balmenach     4          3      2          0        0      2
11     12        Belvenie     3          2      1          0        0      3
12     13        BenNevis     4          2      2          0        0      2
13     14        Benriach     2          2      1          0        0      2
14     15       Benrinnes     3          2      2          0        0      3
15     16       Benromach     2          2      2          0        0      2
16     17        Bladnoch     1          2      1          0        0      0
17     18      BlairAthol     2          2      2          0        0      1
18     19         Bowmore     2          2      3          1        0      2
19     20   Bruichladdich     1          1      2          2        0      2
20     21    Bunnahabhain     1          2      1          1        0      1
21     22        Caol Ila     3          1      4          2        1      0
22     23          Cardhu     1          3      1          0        0      1
23     24       Clynelish     3          2      3          3        1      0
24     25   Craigallechie     2          2      2          0        1      2
25     26    Craigganmore     2          3      2          1        0      0
26     27       Dailuaine     4          2      2          0        0      1
27     28         Dalmore     3          2      2          1        0      1
28     29      Dalwhinnie     2          2      2          0        0      2
29     30        Deanston     2          2      1          0        0      2
..    ...             ...   ...        ...    ...        ...      ...    ...
56     57       Knochando     2          3      1          0        0      2
57     58       Lagavulin     4          1      4          4        1      0
58     59        Laphroig     4          2      4          4        1      0
59     60        Linkwood     2          3      1          0        0      1
60     61     Loch Lomond     1          1      1          1        0      1
61     62        Longmorn     3          2      1          0        0      1
62     63        Macallan     4          3      1          0        0      2
63     64     Mannochmore     2          1      1          0        0      1
64     65      Miltonduff     2          4      1          0        0      1
65     66        Mortlach     3          2      2          0        0      2
66     67            Oban     2          2      2          2        0      0
67     68  OldFettercairn     1          2      2          0        1      2
68     69     OldPulteney     2          1      2          2        1      0
69     70    RoyalBrackla     2          3      2          1        1      1
70     71  RoyalLochnagar     3          2      2          0        0      2
71     72           Scapa     2          2      1          1        0      2
72     73        Speyburn     2          4      1          0        0      2
73     74        Speyside     2          2      1          0        0      1
74     75      Springbank     2          2      2          2        0      2
75     76      Strathisla     2          2      1          0        0      2
76     77      Strathmill     2          3      1          0        0      0
77     78        Talisker     4          2      3          3        0      1
78     79          Tamdhu     1          2      1          0        0      2
79     80      Tamnavulin     1          3      2          0        0      0
80     81       Teaninich     2          2      2          1        0      0
81     82       Tobermory     1          1      1          0        0      1
82     83         Tomatin     2          3      2          0        0      2
83     84       Tomintoul     0          3      1          0        0      2
84     85         Tormore     2          2      1          0        0      1
85     86    Tullibardine     2          3      0          0        1      0

    Spicy  Winey  Nutty  Malty  Fruity  Floral     Postcode   Latitude  \
0       1      2      2      2       2       2   \tPH15 2EB     286580
1       3      2      2      3       3       2   \tAB38 9PJ     326340
2       0      0      2      2       3       2    \tAB5 5LI     352960
3       2      0      1      2       1       0   \tPA42 7EB     141560
4       1      1      2      3       1       1   \tAB54 4NH     355350
5       1      1      0      1       1       2     KA27 8HJ     194050
6       1      0      2      2       3       3      G81 4SJ     247670
7       1      2      2      2       2       1   \tAB55 3XS     340754
8       0      0      2      2       2       2   \tAB55 3QY     340754
9       2      0      2      1       2       1   \tIV19 1LB     270820
10      1      3      3      0       1       2   \tPH26 3PF     307750
11      2      1      0      2       2       2   \tAB55 4DH     332680
12      2      0      2      2       2       2   \tPH33 6TJ     212600
13      2      0      0      2       3       2   \tIV30 8SJ     323450
14      1      1      2      3       2       2   \tAB38 9NN     325800
15      2      1      2      2       2       2   \tIV36 3EB     303330
16      1      1      0      2       2       3    \tDG8 9AB     242260
17      2      2      2      2       2       2   \tPH16 5LY     294860
18      2      1      1      1       1       2   \tPA43 7GS     131330
19      2      1      2      2       2       2     PA49 7UN     126680
20      1      1      1      2       2       3     PA46 7RR     142210
21      2      0      2      1       1       1   \tPA46 7RL     142920
22      1      0      2      2       2       2   \tAB38 7RY     318790
23      2      0      1      1       2       0    \tKW9 6LB     290250
24      2      1      2      2       1       4     AB38 9ST     328920
25      1      0      2      2       2       2     AB37 9AB     316600
26      2      2      2      2       2       1   \tAB38 7RE     323520
27      2      2      1      2       3       1   \tIV17 0UT     266610
28      1      0      1      2       2       2   \tPH19 1AB     263670
29      1      1      1      3       2       1     FK16 6AG     271570
..    ...    ...    ...    ...     ...     ...          ...        ...
56      2      1      2      1       2       2     AB38 7RT     319470
57      1      2      1      1       1       0     PA42 7DZ     140430
58      0      1      1      1       0       0     PA42 7DU     138680
59      1      2      0      1       3       2     IV30 3RD     322640
60      1      0      1      2       1       2      G83 0TL     239370
61      1      1      3      3       2       3     IV30 3SJ     322640
62      1      4      2      2       3       1     AB38 9RX     327710
63      1      1      2      1       2       2     IV30 3SS     322640
64      0      0      2      1       1       2     IV30 3TQ     322640
65      3      3      2      1       2       2     AB55 4AQ     332950
66      2      0      2      2       2       0     PA34 5NH     185940
67      2      1      2      3       1       1     AB30 1YE     370860
68      1      1      2      2       2       2      KW1 5BA     336730
69      2      1      0      2       3       2     IV12 5QY     286040
70      2      2      2      2       3       1     AB35 5TB     326140
71      1      1      2      2       2       2     KW15 1SE     342850
72      1      0      0      2       1       2     AB38 7AG     326930
73      0      1      2      2       2       2     PH21 1NS     278740
74      2      1      2      1       0       1     PA28 6EJ     172280
75      2      2      3      3       3       2     AB55 3BS     340754
76      2      0      2      1       3       2     AB55 5DQ     342650
77      3      0      1      2       2       0     IV47 8SR     137950
78      0      1      1      2       2       2     AB38 7RP     319210
79      2      0      2      1       2       3     AB37 9JA     321180
80      2      0      0      0       2       2     IV17 0XB     265360
81      0      0      1      2       2       2     PA75 6NR     150450
82      2      1      1      2       0       1     IV13 7YT     279120
83      2      1      1      2       1       2     AB37 9AQ     315100
84      0      1      2      1       0       0     PH26 3LR     315180
85      2      1      1      2       2       1      PH4 1QG     289690

     Longitude
0       749680
1       842570
2       839320
3       646220
4       829140
5       649950
6       672610
7       848623
8       848623
9       885770
10      827170
11      840840
12      775710
13      858380
14      839920
15      859350
16      554260
17      757580
18      659720
19      661400
20      673170
21      670040
22      843090
23      904230
24      844920
25      836370
26      841010
27      868730
28      785270
29      701570
..         ...
56      841570
57      645730
58      645160
59      861040
60      680920
61      861040
62      844480
63      861040
64      861040
65      839850
66      730190
67      772900
68      950130
69      851320
70      794370
71     1008930
72      851430
73      800600
74      620910
75      848623
76      850500
77      831770
78      841760
79      826110
80      869120
81      755070
82      829630
83      825560
84      834960
85      708850

[86 rows x 17 columns]

In [31]:
df_col_sliced=df.loc[:,
             ['Body',
              'Sweetness',
              'Smoky',
              'Medicinal',
              'Tobacco',
              'Honey',
              'Spicy',
              'Winey',
              'Nutty',
              'Malty',
              'Fruity',
              'Floral',
             ]]
print(df_col_sliced)

    Body  Sweetness  Smoky  Medicinal  Tobacco  Honey  Spicy  Winey  Nutty  \
0      2          2      2          0        0      2      1      2      2
1      3          3      1          0        0      4      3      2      2
2      1          3      2          0        0      2      0      0      2
3      4          1      4          4        0      0      2      0      1
4      2          2      2          0        0      1      1      1      2
5      2          3      1          1        0      1      1      1      0
6      0          2      0          0        0      1      1      0      2
7      2          3      1          0        0      2      1      2      2
8      2          2      1          0        0      1      0      0      2
9      2          3      2          1        0      0      2      0      2
10     4          3      2          0        0      2      1      3      3
11     3          2      1          0        0      3      2      1      0
12     4          2      2          0        0      2      2      0      2
13     2          2      1          0        0      2      2      0      0
14     3          2      2          0        0      3      1      1      2
15     2          2      2          0        0      2      2      1      2
16     1          2      1          0        0      0      1      1      0
17     2          2      2          0        0      1      2      2      2
18     2          2      3          1        0      2      2      1      1
19     1          1      2          2        0      2      2      1      2
20     1          2      1          1        0      1      1      1      1
21     3          1      4          2        1      0      2      0      2
22     1          3      1          0        0      1      1      0      2
23     3          2      3          3        1      0      2      0      1
24     2          2      2          0        1      2      2      1      2
25     2          3      2          1        0      0      1      0      2
26     4          2      2          0        0      1      2      2      2
27     3          2      2          1        0      1      2      2      1
28     2          2      2          0        0      2      1      0      1
29     2          2      1          0        0      2      1      1      1
..   ...        ...    ...        ...      ...    ...    ...    ...    ...
56     2          3      1          0        0      2      2      1      2
57     4          1      4          4        1      0      1      2      1
58     4          2      4          4        1      0      0      1      1
59     2          3      1          0        0      1      1      2      0
60     1          1      1          1        0      1      1      0      1
61     3          2      1          0        0      1      1      1      3
62     4          3      1          0        0      2      1      4      2
63     2          1      1          0        0      1      1      1      2
64     2          4      1          0        0      1      0      0      2
65     3          2      2          0        0      2      3      3      2
66     2          2      2          2        0      0      2      0      2
67     1          2      2          0        1      2      2      1      2
68     2          1      2          2        1      0      1      1      2
69     2          3      2          1        1      1      2      1      0
70     3          2      2          0        0      2      2      2      2
71     2          2      1          1        0      2      1      1      2
72     2          4      1          0        0      2      1      0      0
73     2          2      1          0        0      1      0      1      2
74     2          2      2          2        0      2      2      1      2
75     2          2      1          0        0      2      2      2      3
76     2          3      1          0        0      0      2      0      2
77     4          2      3          3        0      1      3      0      1
78     1          2      1          0        0      2      0      1      1
79     1          3      2          0        0      0      2      0      2
80     2          2      2          1        0      0      2      0      0
81     1          1      1          0        0      1      0      0      1
82     2          3      2          0        0      2      2      1      1
83     0          3      1          0        0      2      2      1      1
84     2          2      1          0        0      1      0      1      2
85     2          3      0          0        1      0      2      1      1

    Malty  Fruity  Floral
0       2       2       2
1       3       3       2
2       2       3       2
3       2       1       0
4       3       1       1
5       1       1       2
6       2       3       3
7       2       2       1
8       2       2       2
9       1       2       1
10      0       1       2
11      2       2       2
12      2       2       2
13      2       3       2
14      3       2       2
15      2       2       2
16      2       2       3
17      2       2       2
18      1       1       2
19      2       2       2
20      2       2       3
21      1       1       1
22      2       2       2
23      1       2       0
24      2       1       4
25      2       2       2
26      2       2       1
27      2       3       1
28      2       2       2
29      3       2       1
..    ...     ...     ...
56      1       2       2
57      1       1       0
58      1       0       0
59      1       3       2
60      2       1       2
61      3       2       3
62      2       3       1
63      1       2       2
64      1       1       2
65      1       2       2
66      2       2       0
67      3       1       1
68      2       2       2
69      2       3       2
70      2       3       1
71      2       2       2
72      2       1       2
73      2       2       2
74      1       0       1
75      3       3       2
76      1       3       2
77      2       2       0
78      2       2       2
79      1       2       3
80      0       2       2
81      2       2       2
82      2       0       1
83      2       1       2
84      1       0       0
85      2       2       1

[86 rows x 12 columns]

In [32]:
df_to_array=df_col_sliced.as_matrix()
print(df_to_array)

[[2 2 2 ..., 2 2 2]
 [3 3 1 ..., 3 3 2]
 [1 3 2 ..., 2 3 2]
 ...,
 [0 3 1 ..., 2 1 2]
 [2 2 1 ..., 1 0 0]
 [2 3 0 ..., 2 2 1]]

In [33]:
y_pred = KMeans(n_clusters=3).fit(df_to_array)

In [34]:
print(y_pred.inertia_)

447.361688312